* {
	font-family: "Courgette", Ubuntu, sans-serif;
	font-size: 16px; 
	margin: 0;
}

body {
	color: #63b3a1;
	background-color: grey;
}
.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
    max-width: 50%;	
    max-height: 50%;	
    text-align: center;	
	margin: auto;
	/*grid-template-columns: 1fr 1fr 1fr;
	/*grid-template-columns: repeat(3,minmax(autofit, 1fr));*/
	background-color:transparent;
	/*background-color: #4a554a;*/
	/*font-size: 1rem;
	line-height: 1.5;*/
	/*max-width: 50%;
	max-height: 50%;*/
}

header h4 {
	color: whitesmoke;
	background-color: transparent;
	margin-bottom: .5rem;
}

#date {
	background-color: #274156;
	font-size: 1.2rem;
	color: rgb(135, 222, 157);
}

header {
	display: grid;
	color: rgb(135, 222, 157);
	background-color: #274156;
	box-shadow: 5px 5px 5px rgb(0, 0, 0);
	text-align: center;
	grid-gap: 1rem;
	padding: .5em;

}

.social {
	justify-content: left;
}

footer {
	color: whitesmoke;
	grid-column: 1/-1;
	background-color: #274156;
	box-shadow: 5px 5px 5px rgb(0, 0, 0);
	justify-content: right;
	align-items: center;
	text-align: center;
	border-radius: 10%
}

#todaydate,
#yeartoday {
	background-color: #274156;
	color: whitesmoke;
	justify-content: right;
}



#menu1 {
	margin: 10px;
	width: 80%;
}

#menu1 li {
	width: 130px;
	float: left;
	margin-left: 2px;
}


nav {
	background-color: #050708;
	text-align: center;
	box-shadow: 0 2px 15px rgb(0, 0, 0);
	margin: 0 auto;
	border-radius: 10%;
}

nav ul {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li a {
	list-style: none;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	background: linear-gradient(90deg, transparent, rgb(48, 91, 110), transparent) top var(--d, 0) 10px no-repeat;
	transition: 0.5s;
}

nav a:hover {
	--d: 75%;
}

.active {
	color: rgb(107, 126, 113);
}

.navigation {
	list-style: none;
	padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: rgb(135, 222, 157);
	;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
	content: " \2263 ";
}

.navigation a:hover {
	color: white;
	background-color: rgb(80, 139, 107);
}

.responsive li {
	display: block;
}

.responsive a.ham::after {
	color: whitesmoke;
}


ul {
	color: whitesmoke; 
	list-style-type: none;
	font-weight: normal;
}
.bizname {
	color: #ee865d;
	font-weight: bold;
}
	
.button {
	height: 2.5rem;
	width: 2.5rem;
}

.button:hover {
	border: 4px solid #ee865d;
}

.listbutton {
	color: black;
	border: 3px solid rgb(95, 61, 18);
}

.gridbutton {
	border: 3px solid rgb(95, 61, 18);
}

#todaydate {
	color: burlywood;
	justify-content: right;
}
